*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    cursor: none;
    overflow-x: hidden;
}

/*cursor styles*/
.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: .3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: grayscale();
}

.grow-up{
    transform: scale(2);
    background: #000;
}

.cursor-on-me{
    color: white;
}




/*page styles*/
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links li{
    margin-right: 2em;
    padding: 1rem;
    z-index: 2;
}

.front-cover img{
    width: 100vw;
}
