$background: #fff;
$background-accent: #65BDC0;

$background-1: #EE777F;
$background-2: #65BDC0;
$background-3: #1D2343;


$color-accent: #fff;
$color-header: #1D2343;
$color-main-text: #565A72;
$color-text-gray: #A3A3A3;

$border-rad-xl: 60px;
$border-rad-md: 30px;
$border-rad-sm: 25px;